// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

body {
    background: #242829;
    color: #fff;
}

a {
    color:#fff;
}

.post-warp .post-meta {
    color: #bbb !important;
}

.title {
    font-size: 3em;
    font-weight: bold;
}

.intro .avatar img {
    display: none;
}

.slim-head {
    text-align: center;
    margin-top: 1.5em;
    h1{
        font-weight: 100;
    }
}

.subscribe {
    margin-bottom: 1.5em;
}


pre {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: rgb(36, 36, 36) !important;
}

pre code {

    color: #ddd;
}

code {
    color: black;
}

.post-warp .post {
    border-bottom: 1px dashed #555;
}

.btn-home {
    color:white;
    border-color: white;
}

.post-tags section .btn-home{
    color:white;
}


.pagination li.active a, .pagination li a:hover,
.pagination li:hover a {
    color: white !important;
}

.pagination li:after, .pagination li:before {
    background-color: white !important;
}