<!-- subscribe-big -->
<div style="text-align:center;">
    <div class="subscribe">
        <script>window.podcastData = { "title": "Code and Ship", "subtitle": "Ein Techpodcast aus Bremen von Ingmar und Jonathan", "description": "Jonathan und Ingmar sprechen übers Programmieren und Ausliefern von Software Projekten. Außerdem tauschen die beiden Bremer sich über Tools, Framewoks und das Leben als Softwareentwickler aus.", "cover": "https://codeandship.rocks/cover.jpg", "feeds": [{ "type": "audio", "format": "mp3", "url": "https://codeandship.rocks/podcast/index.xml", "directory-url-itunes": "https://podcasts.apple.com/de/podcast/code-and-ship/id1458278980" }] }</script>
        <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js"
            data-language="de" data-size="big" data-json-data="podcastData" data-color="#06969b" data-format="cover"
            data-style="frameless"></script><noscript><a href="https://codeandship.rocks/podcast/index.xml">Subscribe to
                feed</a></noscript>
    </div>

    <div class="subscribe">
        <a href="https://podcasts.apple.com/de/podcast/code-and-ship/id1458278980">
            <img src="/DE_Apple_Podcasts_Listen_Badge_RGB.svg">
        </a>
    </div>

    <div class="subscribe">
        <a href="https://open.spotify.com/show/68VGe4DFCUxvcJp44VDVL3">
            <img src="/spotify-podcast-badge-blk-grn-165x40.svg">
        </a>
    </div>

</div>