<div class="intro">
    {{ $cdn_url := .Scratch.Get "cdn_url" }}
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
    <div class="avatar">
        <a href="/"> <img src="{{ (printf "%s%s" $cdn_url $avatar)}}"> </a>
    </div>
    {{ end }}
    {{ if or .Params.gravatar.Email (and .Site.Params.gravatar.Email (ne .Params.gravatar.Email false)) }}
    <div class="avatar">
        <a href="/posts/"> <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar.email }}?s=240&d=mp"
                alt="gravatar"> </a>
    </div>
    {{ end }}
    {{ with .Site.Params.subtitle}}
    <h2 class="description">
        {{ . }}
    </h2>
    {{ end }}
    <div class="social-links">
        {{ partial "social.html" . }}

    </div>
    <p>
        <script>window.podcastData={"title":"Code and Ship","subtitle":"","description":"Jonathan und Ingmar sprechen übers Programmieren und Ausliefern von Software Projekten. Außerdem tauschen die beiden Bremer sich über Tools, Framewoks und das Leben als Softwareentwickler aus.","cover":"","feeds":[{"type":"audio","format":"mp3","url":"https://codeandship.rocks/podcast/index.xml"}]}</script><script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="de" data-size="small" data-json-data="podcastData" data-color="#06969B" data-format="rectangle" data-style="outline"></script><noscript><a href="https://codeandship.rocks/podcast/index.xml">Subscribe to feed</a></noscript>
    </p>
</div>