<tr>
    <td><img class="avatar" src="https://codeandship.rocks/images/show-hosts_ingmar.jpg"></td>
    <td>Ingmar</td>
    <td>
        <a target="_blank" href="https://twitter.com/_truefalse"><img src="https://codeandship.rocks/images/twitter.jpg"></a>
        <a target="_blank" href="https://norden.social/users/ingmar"><img src="https://codeandship.rocks/images/mastodon.jpg"></a>
        <a target="_blank" href="https://github.com/iwittkau"><img src="https://codeandship.rocks/images/github.jpg"></a>
    </td>
</tr>