<tr>
    <td><img class="avatar" src="https://codeandship.rocks/images/codeandship.jpg"></td>
    <td>Code and Ship</td>
    <td>
        <a target="_blank" href="https://twitter.com/codeandship"><img src="https://codeandship.rocks/images/twitter.jpg"></a>
        <a target="_blank" href="https://norden.social/users/codeandship"><img src="https://codeandship.rocks/images/mastodon.jpg"></a>
        <a target="_blank" href="https://instagram.com/codeandship"><img src="https://codeandship.rocks/images/instagram.png"></a>
        <a target="_blank" href="https://open.spotify.com/show/68VGe4DFCUxvcJp44VDVL3?si=AUTTI_xRST-wmsENs2ysCg"><img src="https://codeandship.rocks/images/spotify.jpg"></a>
        <a target="_blank" href="https://codeandship.rocks"><img src="https://codeandship.rocks/images/website.jpg"></a>
    </td>
</tr>